<div id="page">
      <% PROCESS sidebar.tt %>
      <div id="content">
        <% PROCESS header.tt %>
          <h3>Maps</h3>
          <a href="/maps/arcade">Arcade Map Pool</a><br>
          <a href="/maps/ladder">Ladder Map Pool</a><br>
    </div>
</div>
