<div id="page">
      <% PROCESS sidebar.tt %>
      <div id="content">
        <% PROCESS header.tt %>
          this is just a demo...
<iframe src="https://player.twitch.tv/?channel=m1ndstreams" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/m1ndstreams?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
      </div>
</div>
