<div id="page">
      <% PROCESS sidebar.tt %>
      <div id="content">
        <% PROCESS header.tt %>
        <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" name="submit" value="Upload">
        </form>
      </div>
</div>
